---
import '../styles/global.css';
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "Gallery";
---
<BaseLayout pageTitle={pageTitle}>
    <p>Here you can find some of my photos.</p>
    <p>Keep checking back and see how my journey is going!</p>
</BaseLayout>