---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import '../styles/global.css';
const { pageTitle } = Astro.props;
---
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/jpeg" href="/favicon.jpeg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>
  </head>
  <body id="body" class="bg-base-50 text-base-900">
    <div class="min-h-[100lvh]">
			<Header />
			<main>
				<slot />
			</main>
		</div>
    <Footer />
    <script>
      import "../scripts/menu.js";
    </script>
  </body>
</html>